<%- include('../partials/header'); %>
<title>Home</title>
</head>

<body class="d-flex align-items-center" style="height: 100vh">
<div class="container">

  <form action="/imprimir" method="GET">
    <div class="col-auto">
      <label for="texto" class="form-label">Texto a ser impresso:</label>
      <textarea class="form-control" name="texto" id="texto" rows="5"></textarea>
    </div>
    <div class="col-auto">
      <br/>
      <button type="submit" class="btn btn-primary btn-lg mb-3">Imprimir</button>
    </div>
  </form>

</div>
</body>

<%- include('../partials/footer'); %>